:root {
	--brown: #e58e26;
	--bg: #0a0a0a;
	--shadow: 0 3px 3px rgb(0 0 0 / 0.5);
}

body {
	font-size: 1.2rem;
	font-family: 'Work Sans', sans-serif;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(img/pexels-jasmine-carter-888899.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
	filter: brightness(0.4);
}

.hero {
/*	background-color:  var(--bg);*/
	min-height: 100vh;
	text-shadow: var(--shadow);
}

.hero h1 {
	font-family: 'Sacramento', cursive;
	font-size: 4rem;
}

.hero h4 {
	font-size: 1.5rem;
}

.hero p {
	font-size: 1.3rem;
}

.hero a {
	margin-top: 18px;
	background-color: white;
	color: var(--brown);
}

.hero a:hover {
	background-color: var(--brown);
	color: white;
}

.navigasi {
	/*background-color: rgba(255, 255, 255, 0.6) !important;
	backdrop-filter: blur(3px);*/
	z-index: 1;
}

/*.offcanvas {
	height: 100vh;
}*/

.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 1rem;
}

.home {
	background-image: url(img/bg.png);
	/*background-size: cover;
	background-position: center;*/
/*	margin-top: -4rem;*/
	padding-top: 10rem;
	padding-bottom: 6rem;
}

.home h2 {
	color: var(--brown);
	font-family: 'Sacramento', cursive;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1.2rem;
}

.home h3 {
	color: #444;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.home p {
	color: #444;
	font-size: 1rem;
}

.home .couple {
	margin-top: 3rem;
}

.home .couple h3 {
	font-family: 'Sacramento', cursive;
	color: var(--brown);
	font-size: 2.4rem;
}

.home .couple img {
	width: 100%;
}

.couple .love {
	width: 45px;
	height: 45px;
	background-color: white;
	display: flex;
	border-radius: 100%;
	box-shadow: var(--shadow);
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(55px);
}

.couple .love i {
	margin: auto;
	color: var(--brown);
}

.info {
	background-color: black;
	color: white;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.info h2 {
	font-family: 'sacramento', cursive;
	font-size: 3rem;
	color: var(--brown);
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.info .alamat {
	font-size: 1.1rem;
}

.info .desc {
	font-size: 0.9rem;
	font-weight: 300;
}

.info .card {
	margin-top: 2rem;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border: 1px solid #999;
	font-size: 1rem;
}

.info .card-header {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.info .card-header, .card-body {
	border-bottom: 1px solid #999;
}

.info .card-footer {
	font-size: 0.8rem;
	font-weight: 300;
}

.gallery {
	background-image: url(img/bg.png);
	padding-top: 6.5rem;
	padding-bottom: 6.5rem;
}

.gallery .foto {
	margin: 0.4rem;
}

.gallery h2 {
	font-family: 'sacramento', cursive;
	font-size: 3rem;
	color: var(--brown);
	font-weight: bold;
	margin-bottom: 2rem;
}

.gallery .desc-galery {
	font-size: 1.2rem;
}

.gallery .foto {
	width: 12rem;
	box-shadow: var(--shadow);
}

.rsvp {
	padding-top: 6rem;
	padding-bottom: 3rem;
	background-color: black;
	color: white;
}

.rsvp h2 {
	color: var(--brown);
	font-family: 'sacramento', cursive;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.rsvp .form-rsvp, input, textarea {
	background-color: rgba(255, 255, 255, 0.2) !important;
	color: white !important;
	border: 1px solid #999 !important;
	font-size: 1rem;
}

.rsvp .desc-rsvp {
	font-size: 1.1rem;
}

.rsvp .card-header {
	border-bottom: 1px solid #999;
	letter-spacing: 0.1rem;
}

.simply-countdown > .simply-section {
	box-shadow: var(--shadow);
}